<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dynamic MLM Tree</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="config.css">
</head>

<body>

  <div class="controls">
    <button onclick="zoomIn()">Zoom In</button>
    <button onclick="zoomOut()">Zoom Out</button>
    <button onclick="resetZoom()">Reset</button>
    <button onclick="addUsers()">Add Dummy USers</button>
    <div id="selectedUserLabel"
      style="position: fixed; bottom: 10px; left: 10px; background: #222; color: #fff; padding: 6px 12px; border-radius: 4px; font-size: 14px;">
      Click a user to see info here.
    </div>
    <div id="donlineUserLevel"
         style="position: fixed; bottom: 50px; left: 10px; background: #222; color: #fff; padding: 6px 12px; border-radius: 4px; font-size: 14px;">
    </div>
  </div>

  <div class="controls-highlight">
    <!--    <button onclick="highlightLevel(1)">☰ Level-A</button>-->
    <button data-level="1" onclick="highlightLevel(1)">Highlight Level-A</button>
    <button data-level="2" onclick="highlightLevel(2)">Highlight Level-B</button>
    <button data-level="3" onclick="highlightLevel(3)">Highlight Level-C</button>
    <button onclick="clearHighlights()">Clear Highlights</button>
    <button onclick="scheduleIncome()">Schedule Income</button>
  </div>

  <div class="sidebar-toggle">
    <button onclick="toggleSidebar('sidebar-config')">🛠️ App Config</button>
    <button onclick="toggleSidebar('sidebar-income-config')">⚙️ Income Config</button>
    <button onclick="toggleSidebar('sidebar-register')">📝 Register User</button>
    <button onclick="toggleSidebar('sidebar-deposit')">💰 Deposit</button>
    <button onclick="toggleSidebar('sidebar-transactions')">📄 Transactions</button>
    <button onclick="toggleSidebar('sidebar-products')">📦 Products</button>
    <button onclick="toggleSidebar('sidebar-income')">💵 Incomes</button>
    <button onclick="toggleSidebar('sidebar-info')">ℹ️ Show Info</button>
    <button onclick="toggleSidebar('sidebar-sql')"> ▶️ Execute</button>
  </div>

  <div class="backdrop" id="backdrop" onclick="closeAllSidebars()"></div>


  <!-- Config Sidebar -->
  <div id="sidebar-config" class="sidebar">
    <section>
    <div class="rank-header">
      <h2>App Configuration Editor</h2>
      <div class="button-container">
        <button id="reloadConfig" class="add-button">🔄 Reload Config</button>
      </div>
    </div>
      <div id="configContainer"></div>
      <button onclick="updateConfigs();" class="update-button">Update Configs</button>
    </section>
  </div>
  <!-- ./Config Sidebar -->


  <!-- Income Config Sidebar -->
  <div id="sidebar-income-config" class="sidebar income config">
    <section>
      <div class="rank-header">
        <h2>Rank Config Editor</h2>
        <div class="button-container">
          <button id="addRankBtn" class="add-button">➕ Add New Rank</button>
        </div>
      </div>
      <table id="rankTable">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Min Wallet Balance</th>
          <th>Max Wallet Balance</th>
          <th>Transactions/ Day</th>
          <th>Level-A Required</th>
          <th>Level-B Required</th>
          <th>Level-C Required</th>
          <th>Commission Percentage</th>
          <th>Stake</th>
        </tr>
        </thead>
        <tbody>
        <!-- Rows inserted by JS -->
        </tbody>
      </table>
      <div class="alert hidden"></div>
      <button id="updateBtn" class="update-button" disabled>Update</button>

      <hr/>

      <div class="rank-header">
        <h2>Team Income Config Editor</h2>
        <div class="button-container">
          <!--<button id="addTeamIncomeBtn" class="add-button">➕ Add Team Rebate</button>-->
        </div>
      </div>
      <table id="teamIncomeTable">
        <thead>
        <tr>
          <th>Level</th>
          <th>Level-2 (RANK_2)</th>
          <th>Level-3 (RANK_3)</th>
          <th>Level-4 (RANK_4)</th>
          <th>Level-5 (RANK_5)</th>
        </tr>
        </thead>
        <tbody>
        <!-- Rows inserted by JS -->
        </tbody>
      </table>
      <div class="alert hidden"></div>
      <button id="updateTeamBtn" class="update-button" style="margin-bottom: 60px;" disabled>Update</button>
    </section>
  </div>
  <!-- ./Income Config Sidebar  -->


  <!-- Register Sidebar -->
  <div id="sidebar-register" class="sidebar register">
    <h2>Register New User</h2>
    <form id="registerForm" class="formcontrol">
      <label>Username:</label>
      <input type="text" id="username" name="username" required>

      <label>Referrer:</label>
      <select name="referral_code" id="referralSelect" required>
        <option value="" disabled selected>-- Select Referrer --</option>
      </select>

      <label>Referral Code:</label>
      <input type="text" name="referral_code" disabled>

      <button type="submit">Register</button>
    </form>
    <div id="registerStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
  </div>
  <!-- ./Register Sidebar -->


  <!-- Deposit Sidebar -->
  <div id="sidebar-deposit" class="sidebar deposit">
    <h2>Deposit Amount</h2>
    <form id="depositForm">
      <label>Username:</label>
      <select name="userId" id="userSelect" required>
        <option value="" disabled selected>-- Select User --</option>
      </select>

      <label>Amount:</label> Dollar
      <input type="number" id="amount" required />

      <label>Transaction Type:</label>
      <select id="transactionType" required>
        <option value="DEPOSIT">DEPOSIT</option>
        <option value="WITHDRAWAL">WITHDRAWAL</option>
      </select>

      <label>Remarks:</label>
      <input type="text" id="remarks" value="Deposit By Admin"/>

      <button type="submit">Submit</button>
    </form>
    <div class="status" id="depositStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
  </div>
  <!-- ./Deposit Sidebar -->


  <!-- Transactions Sidebar -->
  <div id="sidebar-transactions" class="sidebar transactions">
    <h2>Transactions</h2>
    <table id="transactionsTable" border="1" cellpadding="8" cellspacing="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Remarks</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <!-- ./Transactions Sidebar -->


  <!-- Products Sidebar -->
  <div id="sidebar-products" class="sidebar products">
    <section>
      <div id="productSelection">
        <div class="label-header">Reservation</div>
        <div class="container">
          <select id="rankSelect" onchange="updateRangeDropdown()">
            <option value="">Level&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Income%</option>
          </select>

          <select id="rangeSelect" disabled>
            <!--<option>Select Wallet Range</option>-->
          </select>

          <button type="submit" id="confirmReserve" class="button">Confirm Reserve</button>
        </div>
      </div>
    </section>

    <hr/>

    <section>
      <h2>Products</h2>
      <table id="productsTable" border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>price</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="status" id="purchaseStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
    </section>
  </div>
  <!-- ./Products Sidebar -->


  <!-- Income Sidebar -->
  <div id="sidebar-income" class="sidebar income">
    <h2>Income Summary</h2>
    <table id="incomeTable">
      <thead>
      <tr>
        <th></th>
        <th>Daily Income</th>
        <th>Total Income</th>
      </tr>
      </thead>
      <tbody>
      <!-- JS will populate rows here -->
      </tbody>
    </table>
  </div>
  <!-- ./Income Sidebar -->


  <!-- Info Sidebar -->
  <div id="sidebar-info" class="sidebar info">
    <h2>Common Database Queries</h2>
    <div id="query-container"></div>
  </div>
  <!-- ./Info Sidebar -->


  <!-- SQL Sidebar -->
  <div id="sidebar-sql" class="sidebar sql">
    <h2>Execute SQL Query</h2>
    <p class="sql-description">Lorem Ipsum</p>
    <textarea id="sqlInput" rows="5" placeholder="Enter SQL (e.g., SELECT * FROM users)"></textarea>
    <button class="execute-btn" onclick="runQuery()">Execute</button>

    <div id="error"></div>
    <div id="result"></div>
  </div>
  <!-- ./SQL Sidebar -->



  <div class="canvas">
      <div class="tree-wrapper" id="treeWrapper">
          <div class="tree" id="mlmTree"></div>
      </div>
  </div>

  <script src="queries.js"></script>
  <script src="script.js"></script>
  <script src="income_config.js"></script>
  <script src="product.js"></script>
  <script src="income.js"></script>
  <script src="config.js"></script>
</body>

</html>